<div class="row">
  <a name="home"></a>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Su Brothers Trading</h1>
            <h3>the smaller things make the biggest differences</h3>
            <hr class="intro-divider">
            <ul class="list-inline intro-social-buttons">
              <li>
                <%= link_to "<i class='fa fa-sign-in fa-fw'></i> Sign In".html_safe, '#', class: "btn btn-default btn-lg network-name", style: "width: 150px;" %>
              </li>
              <li>
                <%= link_to "<i class='fa fa-user-plus fa-fw'></i> Sign Up".html_safe, '#', class: "btn btn-default btn-lg network-name", style: "width: 150px;" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a name="whoarewe"></a>
  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Who are we?</h2>
          <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <%= image_tag("handyman-1.png", class: "img-thumbnail") %>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">What we do:</h2>
          <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          </div>
        <div class="col-lg-5 col-sm-pull-6  col-sm-6">
          <%= image_tag("handyman-2.png", class: "img-thumbnail") %>
        </div>
      </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.content-section-b -->

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <hr class="section-heading-spacer">
          <div class="clearfix"></div>
          <h2 class="section-heading">Get Started Today!</h2>
          <p class="lead text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="text-center">
            <%= link_to "Register", '#', class: "btn btn-lg btn-danger network-name", style: "width: 200px;" %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section-a -->

<a  name="contact"></a>
  <div class="banner">

      <div class="container">

          <div class="row">
              <div class="col-lg-6 col-md-4">
                  <h2>Get to us on:</h2>
              </div>
              <div class="col-lg-6 col-md-8">
                  <ul class="list-inline banner-social-buttons">
                    <li><%= link_to "<i class='fa fa-facebook fa-fw'></i> Facebook".html_safe, "https://www.facebook.com", class: "btn btn-default btn-lg network-name", style: "width: 160px;" %></li>
                    <li><%= link_to "<i class='fa fa-twitter fa-fw'></i> Twitter".html_safe, "https://www.twitter.com", class: "btn btn-default btn-lg network-name", style: "width: 160px;" %></li>
                    <li><%= link_to "<i class='fa fa-instagram fa-fw'></i> Instagram".html_safe, "https://www.instagram.com", class: "btn btn-default btn-lg network-name", style: "width: 160px;" %></li>
                  </ul>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.banner -->
</div>
